<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Policy</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            html {
                font-family: sans-serif;
                line-height: 1.15;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }

            :root {
                --content-max-width: 120rem;
                --content-min-width: 23.4375rem;
                --content-hpad: 1.5625rem;
            }

            *  {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            a {
                text-decoration: none;
                color: inherit;
                background-color: transparent;
            }
        </style>
    </head>
    <body>
        <div style="height: 100%;">
            <div style="width: 100%;min-height: 100%;height: 100%;">
                <div style="height: 100%;">
                    <div style="display: flex;flex-direction: column;width: 100%;min-height: 100%;">
                        <div style="display: flex;position: fixed;z-index: 900;left: 0;top: 0;width: 100%;height: 100%;overflow-y: auto;align-items: center;background: rgba(8,66,144,.41);">
                            <div style="display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;"></div>
                            <div style="    display: flex;flex-direction: column;flex: 1 1 100%;align-items: center;justify-items: center;animation: styles-dialog-scale-start-ce2ac9 .3s ease-in-out forwards;">
                                <div style="max-width: 100vw;max-height: 100vh;">
                                    <div style="display: flex;flex-direction: column;position: relative;border-radius: 0.1875rem;box-shadow: 0 0 0.5rem rgba(0,0,0,.3);background-color: #fff;padding: 2.5rem 3.125rem;">
                                        <button type="button" style="-webkit-appearance: button;width: 0.875rem;height: 0.875rem;position: absolute;right: 0.625rem;top: 0.625rem;outline: none;-moz-appearance: none;cursor: pointer;padding: 0;border: 0;margin: 0;background-color: transparent;    text-transform: none;overflow: visible;font-family: sans-serif;font-size: 100%;line-height: 1.15;">
                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+PGcgZmlsbD0iIzc4Nzg3OCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLjc1NyAyLjE3MiAyLjE3Mi43NTdsNy4wNyA3LjA3MS0xLjQxNCAxLjQxNXoiLz48cGF0aCBkPSJtNy44MjguNzU3IDEuNDE1IDEuNDE1LTcuMDcxIDcuMDdMLjc1NyA3LjgyOXoiLz48L2c+PC9zdmc+" alt="close" style="border-style: none;">
                                        </button>
                                        <div style="width: 34.6875rem;">
                                            <div style="font-size: 1.125rem;color: #013986;font-weight: 400;margin-bottom: 2.8125rem;">Add a New Policy</div>
                                            <div style="display: flex;flex-flow: row wrap;justify-content: space-between;margin-bottom: 3.75rem;">
                                                <div style="width: 3rem;">
                                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3LjUgMCAwIDcuMjczdjEwLjkwOUMwIDI4LjI3MiA3LjQ2NyAzNy43MDkgMTcuNSA0MCAyNy41MzMgMzcuNzEgMzUgMjguMjczIDM1IDE4LjE4MlY3LjI3MkwxNy41IDBaIiBmaWxsPSIjNDY3MkZGIi8+PHBhdGggZD0iTTE3LjUgMThjMS45MzQgMCAzLjUtMS41NjYgMy41LTMuNVMxOS40MzQgMTEgMTcuNSAxMWEzLjQ5OSAzLjQ5OSAwIDAgMC0zLjUgMy41YzAgMS45MzQgMS41NjYgMy41IDMuNSAzLjVabTAgM2MtMi41MDMgMC03LjUgMS4zNC03LjUgNHYxYzAgLjU1LjQyMiAxIC45MzggMWgxMy4xMjRjLjUxNiAwIC45MzgtLjQ1LjkzOC0xdi0xYzAtMi42Ni00Ljk5Ny00LTcuNS00WiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==">
                                                </div>
                                                <div style="width: 29.875rem;">
                                                    <div style="    font-size: .875rem;color: #545454;font-weight: 500;margin-bottom: 0.5rem;">Privacy Policy</div>
                                                    <div style="font-size: .75rem;color: #939393;line-height: 1.4;">A privacy policy states how your website or app collects, uses, and shares visitor’s personal information. Most websites and apps are legally required to have a privacy policy.</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="border-top: 0.0625rem solid #e6e6e6;width: 34.6875rem;height: 3.75rem;display: flex;flex-flow: row wrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding: 0 0.625rem;cursor: pointer;border-bottom: 0.0625rem solid #e6e6e6;">
                                                    <div style="font-size: .9375rem;color: dimgray;">Privacy Policy</div>
                                                    <a href="{% url 'data-input' %}"><div style="background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0iIzRDNzBGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyMCIgeD0iOSIgcng9IjEiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyMCIgeD0iOSIgcng9IjEiIHRyYW5zZm9ybT0icm90YXRlKDkwIDEwIDEwKSIvPjwvZz48L3N2Zz4=);width: 1.25rem;height: 1.25rem;background-size: 1.25rem 1.25rem;"></div></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: fixed;z-index: 9999;inset: 3.125rem;pointer-events: none;"></div>
        </div>
    </body>
</html>