<article>
    <!-- Questions -->
    <h2><strong>Privacy Policy Uses</strong></h2>
    <div class="question-section">
        <section class="main-sec">
            <h3><strong>What will this Privacy Policy be used for?</strong></h3>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="checkbox" class="checkbox-option" name="myCheckbox1" value="1"> Website
                </label>

                <label class="checkbox-label">
                    <input type="checkbox" class="checkbox-option" name="myCheckbox2" value="2"> Mobile application
                </label>

                <label class="checkbox-label">
                    <input type="checkbox" class="checkbox-option" name="myCheckbox3" value="3"> Facebook application
                </label>
            </div>
        </section>
        <footer>
            <div></div>
            <div class="save-btn-div">
                <button class="save-btn">Save & Next</button>
            </div>
        </footer>
    </div>
</article>