<article>
    <!-- Questions -->
    <h2><strong>English Preference</strong></h2>
    <div class="question-section">
        <section class="main-sec">
            <h3><strong>What type of English spelling do you want to be used in this Privacy Policy?</strong></h3>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="1" name="sourceInfo"> American English
                </label>

                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="2" name="sourceInfo"> British English
                </label>
            </div>
        </section>
        <footer>
            <div>
                <button class="back-btn"><strong>Back</strong></button>
            </div>
            <div class="save-btn-div">
                <button class="save-btn">Save & Next</button>
            </div>
        </footer>
    </div>
</article>