<article>
    <!-- Questions -->
    <h2><strong>English Preference</strong></h2>
    <div class="question-section">
        <form action="{% url 'question3' %}" method="post">
            {% csrf_token %}
            <section class="main-sec">
                <h3><strong>What type of English spelling do you want to be used in this Privacy Policy?</strong></h3>
                <div class="checkbox-group">
                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="American English" name="english_spelling"> American English
                    </label>
    
                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="British English" name="english_spelling"> British English
                    </label>
                </div>
            </section>
            <footer>
                <div>
                    <button class="back-btn"><strong>Back</strong></button>
                </div>
                <div class="save-btn-div">
                    <button id='save-button' class="save-btn" type="submit">Save & Next</button>
                </div>
            </footer>
        </form>
    </div>   
</article>

<script>
    $(document).ready(function() {
        $("#save-button").on("click", function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Serialize the form data
            var formData = $("form").serialize();

            // Perform a POST request
            $.ajax({
                type: "POST",
                url: "{% url 'question3' %}", // Update with your URL
                data: formData,
                success: function(response) {
                    // Successfully posted data
                    // Now perform a GET request to update the content
                    $.get("{% url 'question4' %}", function(data) {
                        // Update the 'article' section with the new content
                        $("article").html(data);
                    });
                },
                error: function(error) {
                    // Handle the error if the POST request fails
                    console.log("POST request failed:", error);
                }
            });
        });
    });
</script>