<article>
    <!-- Questions -->
    <h2><strong>User Accounts</strong></h2>
    <div class="question-section">
        <form method="post" action="{% url 'question5' %}">
            {% csrf_token %}
            <section class="main-sec">
                <h3><strong>Can users create an account or register with your website or app?</strong></h3>
                <div class="checkbox-group">
                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="Yes" name="create_register"> Yes
                    </label>

                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="No" name="create_register"> No
                    </label>
                </div>
            </section>
            <footer>
                <div>
                    <button class="back-btn"><strong>Back</strong></button>
                </div>
                <div class="save-btn-div">
                    <button id='save-button' class="save-btn" type="submit">Save & Next</button>
                   <!--  <button hx-get="question6" hx-target="article" class="save-btn">Save & Next</button> -->
                </div>
            </footer>
        </form>
    </div>
</article>

<script>
    $(document).ready(function() {
        $("#save-button").on("click", function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Serialize the form data
            var formData = $("form").serialize();

            // Perform a POST request
            $.ajax({
                type: "POST",
                url: "{% url 'question5' %}", // Update with your URL
                data: formData,
                success: function(response) {
                    // Successfully posted data
                    // Now perform a GET request to update the content
                    $.get("{% url 'question6' %}", function(data) {
                        // Update the 'article' section with the new content
                        $("article").html(data);
                    });
                },
                error: function(error) {
                    // Handle the error if the POST request fails
                    console.log("POST request failed:", error);
                }
            });
        });
    });
</script>