<article>
    <!-- Questions -->
    <h2><strong>User Age</strong></h2>
    <div class="question-section">
        <form method="post" action="{% url 'question6' %}">
            {% csrf_token %}
            <section class="main-sec">
                <h3><strong>Do you target users under the age of 18?</strong></h3>
                <div class="checkbox-group">
                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="Yes" name="age"> Yes
                    </label>

                    <label class="checkbox-label">
                        <input type="radio" class="checkbox-option" value="No" name="age"> No
                    </label>
                </div>
            </section>
            <footer>
                <div>
                    <button hx-get="question5" hx-target="article" class="back-btn"><strong>Back</strong></button>
                </div>
                <div class="save-btn-div">
                    <button id='save-button' class="save-btn" type="submit">Save & Next</button>
                    <!-- <button hx-get="question7" hx-target="article" class="save-btn">Save & Next</button> -->
                </div>
            </footer>
        </form>
    </div>
</article>