<article>
    <!-- Questions -->
    <h2><strong>Personal Information from Social Media</strong></h2>
    <div class="question-section">
        <section class="main-sec">
            <h3><strong>Can users register for your website or app using Facebook, Google, or other social media accounts?</strong></h3>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="1" name="sourceInfo"> Yes
                </label>

                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="2" name="sourceInfo"> No
                </label>
            </div>
        </section>
        <footer>
            <div>
                <button class="back-btn"><strong>Back</strong></button>
            </div>
            <div class="save-btn-div">
                <button class="save-btn">Save & Next</button>
            </div>
        </footer>
    </div>
</article>