<article>
    <!-- Questions -->
    <h2><strong>Personal Information from Other Sources</strong></h2>
    <div class="question-section">
        <section class="main-sec">
            <h3><strong>Are you collecting personal information about your users from other sources?</strong></h3>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="Yes" name="sourceInfo"> Yes
                </label>

                <label class="checkbox-label">
                    <input type="radio" class="checkbox-option" value="No" name="sourceInfo"> No
                </label>
            </div>
        </section>
        <footer>
            <div>
                <button hx-get="question10" hx-target="article" class="back-btn"><strong>Back</strong></button>
            </div>
            <div class="save-btn-div">
                <button hx-get="#" hx-target="article" class="save-btn">Finish</button>
            </div>
        </footer>
    </div>
</article>